<h2>This is the index page</h2><br>

<% if user_signed_in? %>
    Logged in as <strong><%= current_user.username %></strong><br>
    <%= link_to "sign out", destroy_user_session_path, method: :delete%>
<% else %>
    Not logged in<br>
    <div><%= link_to "sign in", new_user_session_path %>
    </div><br>
<% end %>

<% @posts.each do |post| %>
    <div>
        <%= post.title %><br>
        <%= post.body %><br>
        <% if user_signed_in? %>
            <p>Written by: <%= post.user.username %></p>
        <% end %>
    </div><br>
<% end %> 